# Python Bytecode Cache
*.pyc

# Cloud SQL Proxy Executable
cloud_sql_proxy

# Aggregated Directory for Static Files (still includes app-specific /static/)
/static/

# Secret Keys and Stuff
*_secrets.json