language: python
python:
- '3.5'

services:
- postgresql

before_install:
- openssl aes-256-cbc -K $encrypted_fc6c587a9c3e_key -iv $encrypted_fc6c587a9c3e_iv
  -in service_account_secrets.json.enc -out service_account_secrets.json -d

install:
- pip install -r requirements.txt

before_script:
- psql -c "CREATE DATABASE learndjango_test;" -U postgres
- psql -c "CREATE USER learndjango WITH PASSWORD 'testingpassword';" -U postgres
- psql -c "ALTER USER learndjango CREATEDB;" -U postgres

jobs:
  include:
    - stage: test
      env:
        - DEPLOYMENT="TESTING"
      script:
        - "./manage.py test"

    - stage: deploy
      env:
          - DEPLOY="production"
      deploy:
        provider: gae
        keyfile: 'service_account_secrets.json'
        project: learndjango-197901
